# Bot
DISCORD_TOKEN=
CLIENT_ID=
OWNER_IDS=

# Dashboard
CLIENT_SECRET=
REDIRECT_URI=http://localhost:3000/auth/callback
SESSION_SECRET=
DASHBOARD_PORT=3000

# Database
MONGODB_URI=

# Optional APIs
WEATHER_API_KEY=
LIBRE_TRANSLATE=

# Bot config
DEFAULT_PREFIX=!
